<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TecnoTop</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="~/Content/bootstrap.min.css" />

    <link type="text/css" rel="stylesheet" href="~/Content/slick.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/slick-theme.css" />

    <link type="text/css" rel="stylesheet" href="~/Content/nouislider.min.css" />

    <link rel="stylesheet" href="~/Content/font-awesome.min.css">

    <link type="text/css" rel="stylesheet" href="~/Content/style.css" />

</head>
<body>
    @if (ViewBag.Admin)
    {
        <div id="top-header">
            <div class="container">
                <ul class="header-links pull-left">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Produtos", "Index", "Produto")</li>
                    <li>@Html.ActionLink("Usuários", "Index", "Usuario")</li>
                </ul>
            </div>
        </div>
    }


    @RenderBody()

    @if (ViewBag.ExibeFooter)
    {
        Html.RenderPartial("Footer");
    }
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/slick.min.js"></script>
    <script src="~/Scripts/nouislider.min.js"></script>
    <script src="~/Scripts/jquery.zoom.min.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/inputmask/jquery.inputmask.min.js"></script>
</body>
</html>
