<header>
    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="~/Home/Index" class="logo">
                            <img src="~/Images/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->
                <!-- SEARCH BAR -->
                <div class="col-md-6">
                    <div class="header-search">
                        <form action="~/Home/Index" method="post">
                            <input class="input" name="filter" id="filter" placeholder="Buscar aqui">
                            <button type="submit" class="search-btn">Buscar</button>
                        </form>
                    </div>
                </div>
                <!-- /SEARCH BAR -->
                <!-- Cart -->
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">
                        <div class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Carrinho</span>
                                <div class="qty">3</div>
                            </a>
                        </div>
                        <!-- /Cart -->
                        <!-- User -->
                        <div>
                            <a href="~/Login">
                                <i class="fa fa-user-o"></i>
                                <span>User</span>
                            </a>
                        </div>
                        <!-- /User -->
                    </div>
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
</header>
