@model Topicos.Models.ProdutoModel

@{
    Html.RenderPartial("MainHeader");
}

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Produto main img -->
            <div class="col-md-5 col-md-push-2">
                <div id="product-main-img">
                    @foreach (var item in ViewBag.Imagens)
                    {
                        <div class="product-preview">
                            <img src="~/Images/Produtos/@(item)" alt="">
                        </div>
                    }
                </div>
            </div>
            <!-- /Produto main img -->
            <!-- Produto thumb imgs -->
            <div class="col-md-2  col-md-pull-5">
                <div id="product-imgs">
                    @foreach (var item in ViewBag.Imagens)
                    {
                        <div class="product-preview">
                            <img src="~/Images/Produtos/@(item)" alt="">
                        </div>
                    }
                </div>
            </div>
            <!-- /Produto thumb imgs -->
            <!-- Produto details -->
            <div class="col-md-5">
                <div class="product-details">
                    <h2 class="product-name">@Model.Titulo</h2>
                    <div>
                        <h3 class="product-price">R$ @Model.Preco</h3>
                    </div>
                    <br />
                    <br />
                    <br />
                    <div class="add-to-cart">
                        <div class="qty-label">
                            Quantidade
                            <div class="input-number">
                                <input type="number" value="1">
                                <span class="qty-up">+</span>
                                <span class="qty-down">-</span>
                            </div>
                        </div>
                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Add Carrinho</button>
                    </div>
                    <br />
                    <ul class="product-links">
                        <li>Categoria:</li>
                        <li><a href="#">@Model.Categoria</a></li>
                    </ul>
                </div>
            </div>
            <!-- /Product details -->
            <!-- Product tab -->
            <div class="col-md-12">
                <div id="product-tab">
                    <!-- product tab nav -->
                    <ul class="tab-nav">
                        <li class="active"><a data-toggle="tab" href="#tab1">Descrição</a></li>
                    </ul>
                    <!-- /product tab nav -->
                    <!-- product tab content -->
                    <div class="tab-content">
                        <!-- tab1  -->
                        <div id="tab1" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>@Model.Descricao</p>
                                </div>
                            </div>
                        </div>
                        <!-- /tab1  -->
                    </div>
                    <!-- /product tab content  -->
                </div>
            </div>
            <!-- /product tab -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<!-- Section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <div class="col-md-12">
                <div class="section-title text-center">
                    <h3 class="title">Produtos Relacionados</h3>
                </div>
            </div>

            <!-- produtos -->
            @* foreach(item in ViewBag.produtos) {*@
            <div class="col-md-3 col-xs-6">
                <div class="product">
                    <div class="product-img">
                        <img src="~/Images/Produtos/" alt="">
                        <div class="product-label">
                            <span class="sale">-30%</span>
                        </div>
                    </div>
                    <div class="product-body">
                        <p class="product-category">Categoria</p>
                        <h3 class="product-name"><a href="#">Nome do Produto</a></h3>
                        <h4 class="product-price">R$ 999,00 @*<del class="product-old-price">$990.00</del>*@</h4>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    <div class="add-to-cart">
                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Add Carrinho</button>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-sm visible-xs"></div>
            @* } *@
            <!-- /produtos -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /Section -->